# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

DATABASE_URL=""

# https://authjs.dev/reference/core/errors#missingsecret
AUTH_SECRET=""

# Github oAuth providers
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Google oAuth provider
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
